## Imports y Constantes

In [75]:
import pandas as pd, os

In [76]:
df = pd.read_csv('data/tokens_topics.csv')
df = df.drop_duplicates(subset=['title'])
df

,topic,title,text
0,art,Art (disambiguation),". Look up art in Wiktionary, the free dictiona..."
1,art,Self-portrait,"For other uses, see Self-portrait (disambiguat..."
2,art,Chokwe people,Ethnic group of Central & Southern Africa. Thi...
3,art,The Birth of Venus,"Painting by Sandro Botticelli. For other uses,..."
4,art,Sandro Botticelli,Italian Renaissance painter (1445–1510). This ...
...,...,...,...
1035,technology,Goethe's Faust,Play by Johann Wolfgang von Goethe. This artic...
1036,technology,Philip K. Dick,American science fiction author (1928–1982). P...
1037,technology,Neil Postman,American media theorist and cultural critic. N...
1038,technology,Darin Barney,"Darin BarneyBornBurnaby, British ColumbiaNatio..."
1039,technology,Citizenship,"Legal membership in a country. ""Citizen"" redir..."

In [77]:
df.groupby(['topic'])['topic'].count()

topic
art           146
food          123
geography     141
history        68
music         135
science        91
sports        136
technology    138
Name: topic, dtype: int64

## Separar train, test y validation datasets
Train: 70%, Test: 15%, Validation: 15%

In [102]:
# split 70, 15, 15
train = df.copy()
train = df.sample(frac = 1)
test = train.sample(frac = 0.60)
train = train.drop(test.index)
validation = test.sample(frac = 0.2) # 0.5 because it's half of .3
test = test.drop(validation.index)

In [103]:
train.groupby(['topic'])['topic'].count()

topic
art           63
food          42
geography     54
history       31
music         62
science       46
sports        45
technology    48
Name: topic, dtype: int64

In [104]:
test.groupby(['topic'])['topic'].count()

topic
art           68
food          64
geography     76
history       27
music         59
science       30
sports        73
technology    73
Name: topic, dtype: int64

In [105]:
validation.groupby(['topic'])['topic'].count()

topic
art           15
food          17
geography     11
history       10
music         14
science       15
sports        18
technology    17
Name: topic, dtype: int64

In [106]:
os.makedirs('data', exist_ok=True)
train.to_csv('data/train.csv', index=False)
test.to_csv('data/test.csv', index=False)
validation.to_csv('data/validation.csv', index=False)